<!DOCTYPE html>
<html>
  <head>
    <title>MusicApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="content">
      <h1 class="logo">Music App</h1>

      <% if logged_in? %>
        <nav>
          <div class="user">
          <p>Logged in as: <%= current_user.email %></p>
            <form action="<%= session_url %>" method="POST">
              <input 
                type="hidden"
                name="authenticity_token"
                value="<%= form_authenticity_token %>">
              <input 
                type="hidden"
                name="_method"
                value="delete">
              <input type="submit" value="Log out">
            </form>
      <% else %>          
            <a class="button" href="<%= new_user_url %>">Create user </a>          
            <a class="button" href="<%= new_session_url %>">Log in </a>
          </div>
        </nav>
      <% end %>

      <% if flash[:errors] %>
        <p><%= flash[:errors].join(", ") %></p>
      <% end %>

        <%= yield %>
      </div>
  </body>
</html>
